.App {
    max-height: 100vh;
}

#default-background {
    height: 100%;
    width: 100%;

}

#default-background .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: .5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav {
    border-bottom: 1px solid #eee;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.workout-form {
    margin-top: .75em !important;
}

.exercise-input {
    margin-left: 0 !important;
}

.exercise-form {
    margin-top: .75em;
}

#label-tooltip {
    width: 10vw;
    padding: 1vw;
    background-color: white;
    box-shadow: 2px 0 35px;
    opacity: .98;
}

#label-tooltip ul {
    list-style-type: none;
}

.form-container {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 40%;
    height: 60vh;
    background-color: white;
    transition: top 2s;
}

@media(max-width: 1000px) {
    .login-form {
        width: 60%;
    }
}

.login-form .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-form div {
    margin-top: 10px;
}
