.title {
    margin-top: .5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav {
    border-bottom: 1px solid #eee;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.workout-form {
    margin-top: .75em !important;
}

.exercise-input {
    margin-left: 0 !important;
}

.exercise-form {
    margin-top: .75em;
}