.title {
    margin-top: .5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav {
    border-bottom: 1px solid #eee;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.workout-form {
    display: flex;
    flex-direction: column;
    margin-top: 1em !important;
}